div{
    background-color: #abda;
    padding: 10px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;

    /* text-overflow: ellipsis; */

}
div:hover{
    overflow: visible;/*هيظهر الكلام افلمقطوع باقي النص */
 }
/* الشكل الثاني في الصورة المحتوى صغير ولم يصل لنهاية العنصر
الشكل الثالث النصوص الموجودة فيه هي نفس الموجودة في الشكل الأول
المطلوب قطع النص عند نهاية العنصر ولا تجعله ينزل للسطر التالي
الثلاث نقاط يتم وضعها تلقائيا ولا تقم بكتابتها */