
a{
   background-color: darkturquoise;
   color: white;
   text-align: center;
   padding: 10px;
   border-bottom: 7px solid darkcyan;
   text-transform: uppercase ;
   text-decoration: none ;
}
div{
   text-align: center;
   margin: auto;
}